$color-rojo: #BA1414;
$color-footer: #E3E3E3;
$color-menu-negro: #111417;
$color-texto-menu: #7D7D7D;
$color-fb: #00468C;
$color-tw: #009BCE;
$color-msj: #FFC92E;
$border-gray:1px solid gray;
$padding-cero:0 0;