$color-rojo: #BA1414;
$color-footer: #E3E3E3;
$color-menu-negro: #111417;
$color-texto-menu: #7D7D7D;
$color-fb: #00468C;
$color-tw: #009BCE;
$color-msj: #FFC92E;

/******blog**********/
$mayus: uppercase;
$color-blanco: #fff;

/*****second-banner***/
$border-gray:1px solid gray;
$padding-cero:0 0;

/*****footer***/
$color-gris: #D0D0D0;
$letra-footer:#888888;
$fondo-footer:#1A1A1A;

//menu
$color-menu-hover:#E91717;
$color-menu-active: #113673;
//menu