$color-rojo: #BA1414;
$color-footer: #E3E3E3;
$color-menu-negro: #111417;
$color-texto-menu: #7D7D7D;
$color-fb: #00468C;
$color-tw: #009BCE;
$color-msj: #FFC92E;
$color-gris: #D0D0D0;
$letra-footer:#888888;
$fondo-footer:#1A1A1A;
$color-blanco : white;
