/******blog**********/
/*****second-banner***/
/*****footer***/
/********blog****/
/********************************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: PT Sans; }

.bg-head {
  background: #E3E3E3; }

.redes {
  list-style: none;
  font-size: 1.5rem;
  padding-left: 2%; }
  .redes .face {
    color: #00468C; }
  .redes .twi {
    color: #009BCE; }
  .redes .goo {
    color: #BA1414; }
  .redes .msj {
    color: #FFC92E; }

.inicio a {
  text-decoration: none;
  font-weight: bold;
  padding-right: 2%;
  font-size: 12px;
  color: #7D7D7D; }

.btn-color {
  font-size: 1.1rem;
  border-radius: 10px;
  background: #BA1414;
  color: #fff; }

.dp-ib {
  display: inline-block;
  padding-left: 2%; }
  .dp-ib input {
    border: none; }
  .dp-ib i {
    color: #7D7D7D; }

/********blog************/
.borde-blog {
  border: 2px solid #E3E3E3;
  padding: 3%;
  margin-top: 15px; }
  .borde-blog .cuadro-gris {
    border: 0px solid #E3E3E3;
    padding: 1%;
    margin-top: 15px;
    background: #E3E3E3; }
    .borde-blog .cuadro-gris a {
      color: #7D7D7D; }
    .borde-blog .cuadro-gris img {
      border: 3px solid #fff; }

.sub-blog {
  color: #7D7D7D;
  text-transform: uppercase;
  margin-right: 1%;
  display: inline-block; }

/*******second-banner**********/
.second-banner {
  margin-top: 2%; }
  .second-banner .logo img {
    width: 80%;
    padding: 2% 0; }
  .second-banner .domingo {
    border: 1px solid gray;
    border-bottom: 3px solid #BA1414;
    text-align: center;
    font-weight: bold; }
    .second-banner .domingo span {
      background-color: #BA1414;
      position: absolute;
      top: -10px;
      left: 40%;
      padding: 1%;
      color: #fff; }
    .second-banner .domingo p {
      padding-top: 10%; }
  .second-banner .editorial div:first-child {
    background-color: #111417;
    padding: 1%; }
    .second-banner .editorial div:first-child img {
      width: 36%; }
  .second-banner .editorial div:nth-of-type(2) {
    background-color: #fff;
    padding-top: 6%;
    border-radius: 20px;
    z-index: 9;
    margin-left: -30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray; }
    .second-banner .editorial div:nth-of-type(2) span {
      font-weight: bold; }
  .second-banner .editorial div:last-child {
    margin-left: -35px;
    z-index: 99; }

@media (max-width: 991px) {
  .second-banner {
    font-size: 20px; }
    .second-banner .logo img {
      width: 40%;
      padding: 2% 0; }
    .second-banner .domingo p {
      padding-top: 9%; }
    .second-banner .domingo span {
      left: 45%; }
    .second-banner .editorial {
      padding: 0 0; }
      .second-banner .editorial div:first-child img {
        width: 30%; }
      .second-banner .editorial div:nth-of-type(2) {
        padding-top: 8%;
        margin-left: -70px; }
      .second-banner .editorial div:last-child {
        margin-left: -60px;
        padding: 0 0; }
        .second-banner .editorial div:last-child img {
          width: 130%;
          top: -5px;
          position: absolute; } }
@media (max-width: 600px) {
  .second-banner {
    padding: 2%;
    font-size: 16px; }
    .second-banner .logo img {
      width: 70%;
      padding: 2% 0; }
    .second-banner .domingo {
      margin-top: 2%; }
      .second-banner .domingo p {
        padding-top: 10%; }
      .second-banner .domingo span {
        left: 39%; }
    .second-banner .editorial div:first-child img {
      width: 45%;
      padding: 2%; }
    .second-banner .editorial div:nth-of-type(2) {
      padding-top: 10%;
      margin-left: -38px; }
    .second-banner .editorial div:last-child {
      margin-left: -60px; }
      .second-banner .editorial div:last-child img {
        width: 180%; } }
@media (max-width: 400px) {
  .second-banner {
    font-size: 14px; }
    .second-banner .editorial div:first-child img {
      width: 42%;
      padding: 0 0; }
    .second-banner .editorial div:nth-of-type(2) {
      padding-top: 9%;
      margin-left: -35px; }
    .second-banner .editorial div:last-child {
      margin-left: -48px; } }
@media (max-width: 350px) {
  .second-banner .editorial div:first-child img {
    width: 46%;
    padding: 0 0; }
  .second-banner .editorial div:nth-of-type(2) {
    margin-left: -30px; }
  .second-banner .editorial div:last-child {
    margin-left: -40px; }
    .second-banner .editorial div:last-child img {
      width: 190%; } }
/*******footer**********/
footer {
  margin-top: 2%; }
  footer .bg-footer {
    background-color: #E3E3E3; }
    footer .bg-footer h4 {
      font-weight: bold; }
    footer .bg-footer li {
      list-style: none; }
    footer .bg-footer .row {
      padding: 30px 0; }
  footer .contacto {
    margin: 20px 0; }
    footer .contacto p {
      line-height: 10px; }
  footer .info-contacto {
    margin: 50% 0; }
  footer .border-left {
    border-left: 1px solid #fff;
    padding-left: 1px; }
  footer .box-shadow {
    box-shadow: -1px 0 #D0D0D0; }
  footer .diarios {
    border-top: 1px solid white;
    box-shadow: 0px -1px 0 #D0D0D0;
    color: #888888;
    padding: 5px 0; }
  footer .fondo-footer {
    padding: 40px 0;
    background-color: #1A1A1A;
    color: #fff; }
    footer .fondo-footer h6 {
      color: #fff; }
    footer .fondo-footer h4 {
      font-weight: bold; }

/*# sourceMappingURL=main.css.map */
