@import "_variables";
@import "_functiones";
@import "_mixins";

* {
	box-sizing:border-box;
}

.second-banner{
	margin-top:2%;
	.logo{
		img{
			width: 80%;
			padding: 2% 0;
		}
	}
	.domingo{
		border: 1px solid gray;
		border-bottom:3px solid red;
		text-align: center 
	}
	.bg-darkred{
		background-color: red;
		position: absolute;
		top: -10px;
		left: 10%;
	}
}
/*****************/